server:
  port: 8090 #???

spring:
  application:
    name: trash-recycling #???

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/trash_recycling?serverTimezone=GMT%2B8&characterEncoding=utf-8
    username: root
    password: 123456

mybatis-plus:
  configuration: #sql???????
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:com/applet/trash/mapper/xml/*.xml

logging:
  level:
    root: info

wx:
  miniapp:
    appid: your-appid
    appsecret: your-appsecret